.searchWrapper {
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

span {
  color: black;
}

.searchBar {
  padding: 20px;
  padding-left: 100px;
  width: 700px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#headerSearch {
  width: 350px;
  height: 30px;
  border: thin;
  border-radius: 30px;
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 15px;
  text-indent: 15px;
}

#headerSearch:focus {
  outline: none;
}

#submit {
  margin-left: -65px;
  color: #111111;
  width: 34px;
  height: 34px;
  border: thin;
  background: transparent;
  border-radius: 34px;
}

.input {
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 20px;
  background: transparent;

  border: 2px solid black;
  border-radius: 5px;
}

.selectPage {
  display: flex;
  flex-direction: column;
}
